DataCapturingClient/IdentityBusinessLayer/Service References/PGService/PGService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PGPortal.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PGPortal.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatricNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middlename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentRecord" nillable="true" type="tns:StudentRecord" />
</xs:schema>