DataCapturingClient/IdentityBusinessLayer/Service References/PGService/PGService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PGService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pg.unaab.edu.ng/webservice/PGService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pg.unaab.edu.ng/webservice/PGService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pg.unaab.edu.ng/webservice/PGService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PGPortal.WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPGService_getStudentRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecord" />
  </wsdl:message>
  <wsdl:message name="IPGService_getStudentRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPGService_getStudentRecordWithSession_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecordWithSession" />
  </wsdl:message>
  <wsdl:message name="IPGService_getStudentRecordWithSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecordWithSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPGService">
    <wsdl:operation name="getStudentRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IPGService/getStudentRecord" message="tns:IPGService_getStudentRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPGService/getStudentRecordResponse" message="tns:IPGService_getStudentRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudentRecordWithSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IPGService/getStudentRecordWithSession" message="tns:IPGService_getStudentRecordWithSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPGService/getStudentRecordWithSessionResponse" message="tns:IPGService_getStudentRecordWithSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPGService" type="tns:IPGService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentRecord">
      <soap:operation soapAction="http://tempuri.org/IPGService/getStudentRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentRecordWithSession">
      <soap:operation soapAction="http://tempuri.org/IPGService/getStudentRecordWithSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PGService">
    <wsdl:port name="BasicHttpBinding_IPGService" binding="tns:BasicHttpBinding_IPGService">
      <soap:address location="http://pg.unaab.edu.ng/webservice/PGService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>