DataCapturingClient/IdentityBusinessLayer/Service References/PortalServ/ProfileService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://portal.unaab.edu.ng/Webservices/ProfileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://portal.unaab.edu.ng/Webservices/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://portal.unaab.edu.ng/Webservices/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentPortal.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_getStudentRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecord" />
  </wsdl:message>
  <wsdl:message name="IProfileService_getStudentRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_getStudentRecordWithSession_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecordWithSession" />
  </wsdl:message>
  <wsdl:message name="IProfileService_getStudentRecordWithSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentRecordWithSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_updateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileService_updateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_openProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:openProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileService_openProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:openProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_openCourseForm_InputMessage">
    <wsdl:part name="parameters" element="tns:openCourseForm" />
  </wsdl:message>
  <wsdl:message name="IProfileService_openCourseForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:openCourseFormResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="getStudentRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/getStudentRecord" message="tns:IProfileService_getStudentRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/getStudentRecordResponse" message="tns:IProfileService_getStudentRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudentRecordWithSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/getStudentRecordWithSession" message="tns:IProfileService_getStudentRecordWithSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/getStudentRecordWithSessionResponse" message="tns:IProfileService_getStudentRecordWithSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/updateProfile" message="tns:IProfileService_updateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/updateProfileResponse" message="tns:IProfileService_updateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="openProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/openProfile" message="tns:IProfileService_openProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/openProfileResponse" message="tns:IProfileService_openProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="openCourseForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/openCourseForm" message="tns:IProfileService_openCourseForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/openCourseFormResponse" message="tns:IProfileService_openCourseForm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfileService" type="tns:IProfileService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IProfileService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentRecord">
      <soap:operation soapAction="http://tempuri.org/IProfileService/getStudentRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentRecordWithSession">
      <soap:operation soapAction="http://tempuri.org/IProfileService/getStudentRecordWithSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileService/updateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileService/openProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openCourseForm">
      <soap:operation soapAction="http://tempuri.org/IProfileService/openCourseForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="BasicHttpBinding_IProfileService" binding="tns:BasicHttpBinding_IProfileService">
      <soap:address location="https://portal.unaab.edu.ng/Webservices/ProfileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>